body{
font-family: 'PT Sans', sans-serif;
}

#container{
display: flex;
flex-direction: column;
align-items: center;
}

nav{
    background-color:  lightgray;
    padding-bottom: 10px;
    width: 100%;
}

#score{
    float: left;
    padding: 20px;
}

#timer{
    float: right;
    padding: 20px;
}

#quizContentPlacement{
    text-align: center;
    width: 500px;
    padding-top: 20px;
}