body{
font-family: 'PT Sans', sans-serif;
}

#container{
display: flex;
flex-direction: column;
align-items: center;
}

nav{
    background-color:  lightgray;
    padding-bottom: 10px;
    width: 100%;
}

#score{
    float: left;
    padding: 20px;
}

#timer{
    float: right;
    padding: 20px;
}

#minutes{
    float:left;
}
#seconds{
    float:right;
    padding-left: 5px;
}
#quizContentPlacement{
    text-align: center;
    padding-top: 20px;
    width: 500px;
}

@media screen and (max-width: 500px){
    #quizContentPlacement{
        width: 200px;
    }

    #timer{
        float: left;
        padding: 20px;
    }
}
